{% extends 'base.html.twig' %}

{% block body %}
    <h1> {{ title }}</h1>

    <form action="/map">
        <div class="=container">
            <div class="row">
                <div class="col">
                    <div>
                        <label for="user">User :</label>
                        <input type="text" id="user" name="user">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>
                        <label for="user">Password :</label>
                        <input type="password" id="password" name="password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="button">
                        <button type="submit">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}